html, body {
	height: 100%;
	position: relative;
	margin: 30px 20px;
}

header > div {
	display: flex;
	justify-content: space-between;
	width: 100%;
	border-bottom: solid 2px black;
	padding-bottom: 20px;
}

.Devmountain {
	font-style: Lora-Regular;
	font-size: 21px ;
	color: #272727;

}

form {
	width: 50%;
	height: 100%;
}
.welcome {
	text-align: center;
	margin-right: 150px;
	font-style: Lora-Regular 14px leading; 
	color: #232323;
}

input {
	display: block;
	height: 30px;
	margin: 5px;
	width: 75%;
}

textarea {
	display: block;
	height: 250px;
	margin: 5px;
	width: 75%;
}

.changes {
	width: 75%;
	border: none;
	background-color: #74FDf2;
	margin-left: 8px;
	height: 30px;
}

a {
	text-decoration: none;
	color: black;

}



 
.flex {
	display: flex;
}

.triangles {
	margin-top: 40px;
}
.gray-triangle {
	position: relative;
	width: 0;
	height: 0;
	border-left: 160px solid transparent;
	border-right: 160px solid transparent;
	border-bottom: 320px solid gray;
	color: #D7D7D7;
	transform: rotate(5deg);
	
}

.blue-triangle {
	position: absolute;
	top: 90px;
	margin-left: -100px;
	width: 0;
	height: 0;
	border-left: 160px solid transparent;
	border-right: 160px solid transparent;
	border-bottom: 320px solid;
	color: #00FFF9;
	transform: rotate(50deg);
}

.intro {
	font-family: 'Lora', serif;
	font-size: 16.8px;
	font-color: #272727; 
} 

a:hover {
	color: #D7D7D7;
}

a:focus {
	color: #D7D7D7;
}

footer {
	display: flex;
	justify-content: space-between;
	width: 100%;
	position: absolute;
	bottom: 0;
	border-top: 2px solid black;
	padding-top: 20px;
}